.small-btn {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  min-width: 45px;
  transition: outline-color 0.4s, border-color 0.4s;
  user-select: none;

  &:hover {
    outline: 2px solid goldenrod;
    border-color: goldenrod;
  }
}
